.sidebar {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.friends {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.wrapperFriends {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}
.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.dialog {
    font-size: 16px;
    flex-basis: 33.3%;
    font-weight: 400;
    color: #fff;
    padding-right: 10px;
    padding-top: 10px;
}
