.sidebar {
    margin-top: 100px;
}
.friends {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.wrapperFriends {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.dialog {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
